@import 'config';

#my-modal{
  background: rgba(0,0,0,0.5);
}

main{

  .breadcrumb-text{

    h1{

      color:$color1;

    }


  }
  .single-blog-item img {
    height: 190px;
  }
  .bd-text .bd-pic img {
    min-width: unset;
    max-width: 290px;
    width: 100%;
  }

}