#member{

  background: black;
  color: white;


  .prenom{

    background: #1717d4;


  }

  .nom{

    background: #1d4fa5;

  }


  .age{
    background: #3b76dc;
  }


.cotisation{

  &.green{
    background: #1c7430;
  }

  &.red{
    background: #974d4d;
  }


}


}