@import 'config';


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
	background-color: $color1;
	color: #FFFFFF;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bg-primary {
	background-color: $color1 !important;
}
.progress-container.progress-primary .progress-bar {
	background: $color1;
}





.row div{

	border:1px solid black;

}



.main{
	/*
    margin-bottom: 10px;
    margin-top: 10px;
    */
	margin:10px 0;

	.media{

		img{
			width: 64px;
		}

		.media-body{

			.desc{

				max-height: 0px;
				overflow: hidden;
				display: block;
				transition: max-height 1s;

				&.overheight{

					max-height:300px;

				}

			}

		}


	}

	article{

		p.desc{

			display: none;

		}

	}

}
